<br><br><br>
            <!-- footer social media -->
            <div class="container-fluid">
                <ul class="list-inline">
                    <li class="list-inline-item">Our social media </li>
                    <li class="list-inline-item"><span class="fa fa-facebook-square fa-lg" aria-hidden="true"></span></li>
                    <li class="list-inline-item"><span class="fa fa-twitter-square fa-lg" aria-hidden="true"></li>
                    <li class="list-inline-item"><span class="fa fa-instagram fa-lg" aria-hidden="true"></li>
                </ul>
            </div>
        </div>        
    </body>
</html>