<html>
  <head>
    <style>
      body {
        background-image: url('https://image.freepik.com/free-vector/school-building_23-2147521232.jpg');
        background-size: cover;
      }
      h2 {
        font-family: arial, sans-serif;
        font-size: 25px;
        text-align: center;
      }
      h4 {
        font-family: arial, sans-serif;
        font-size: 15px;
        text-align: center;
      }
      input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      font-size: 18px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      }
      input[type=submit] {
          width: 200px;
          background-color: #00BFFF;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
      }
      input[type=submit]:hover {
          background-color: #4169E1;
      }
      div {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        font-size: 8px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: red;
      }
      select#soflow{
        width: 100%;
        height: 50px;
        padding: 12px 20px;
        margin: 8px 0;
        font-size: 18px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: white;
      }
    </style>
  </head>
  <body>

    <h2>Add Students Form</h2>
    <h4><a href="/students">Show All Students</a></h4>

    <form action="/projects/add" method="post">
      Title:<br>
      <input type="text" name="title" value="">
      <br>
      Deadline:<br>
      <input type="date" name="deadline" id="soflow">
      <br>
      Major:<br>
      <select name="major" id="soflow">
        <option type="text" value=null>Select an option</option>
        <option type="text" value="Engineering">Engineering</option>
        <option type="text" value="Medicine">Medicine</option>
        <option type="text" value="IT">IT</option>
        <option type="text" value="Science">Science</option>
        <option type="text" value="Business">Business</option>
        <option type="text" value="Management">Management</option>
        <option type="text" value="Literature">Literature</option>
        <option type="text" value="Psychology">Psychology</option>
      </select>
      <br>
      Location:<br>
      <select name="location" id="soflow">
        <option type="text" value=null>Select an option</option>
        <option type="text" value="jakarta">Jakarta</option>
        <option type="text" value="bandung">Bandung</option>
        <option type="text" value="surabaya">Surabaya</option>
        <option type="text" value="semarang">Semarang</option>
        <option type="text" value="lampung">Lampung</option>
        <option type="text" value="balik_papan">Balik Papan</option>
        <option type="text" value="makassar">Makassar</option>
        <option type="text" value="papua">Papua</option>
      </select>
      <br>
      Level:<br>
      <select name="level" id="soflow">
        <option type="text" value="beginner">Beginner</option>
        <option type="text" value="advanced">Advanced</option>
        <option type="text" value="senior">Senior</option>
        <option type="text" value="master">Master</option>
      </select>
      <br>
      Semester:<br>
      <input type="number" name="semester" min="1" max="12" value=1>
      <br>
      Max Member:<br>
      <input type="number" name="max_member" min="1" value=1>
      <br>
      Tag:<br>
      <select name="tag" id="soflow">
        <option type="text" value=null>Select an option</option>
        <%
        tags.forEach(function(tag){%>
          <option type="text" name= "tag" value=<%= tag.name%>><%= tag.name%></option>
          <%})
        %>
      </select>
      <br>
      Summary:<br>
      <textarea rows="5" cols="230"></textarea>
      <br><br>
      <input type="submit" value="ADD STUDENT">
    </form>

  </body>

</html>
