<%- include ../partials/header.ejs %>
    <div class="container">
        <h1>Register</h1>
        <br><br>
        <form action="/projects/add" method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" id="nama-user" placeholder="Enter title">
            </div>
            <div class="form-group">
                <label for="major-user">location</label>
                <select class="form-control" name="location" id="major-user">
                   <option type="text" value=null>Choose location</option>
                   <option type="text" value="Jakarta">Jakarta</option>
                   <option type="text" value="Bandung">Bandung</option>
                   <option type="text" value="Surabaya">Surabaya</option>
                   <option type="text" value="Semarang">Semarang</option>
                   <option type="text" value="Lampung">Lampung</option>
                   <option type="text" value="Balik_papan">Balik Papan</option>
                   <option type="text" value="Makassar">Makassar</option>
                   <option type="text" value="Papua">Papua</option>
                </select>
            </div>
            <div class="form-group">
                <label for="major-user">Major</label>
                <select class="form-control" name="major" id="major-user">
                  <option type="text" value=null>Choose major</option>
                  <option type="text" value="Engineering">Engineering</option>
                  <option type="text" value="Medicine">Medicine</option>
                  <option type="text" value="IT">IT</option>
                  <option type="text" value="Science">Science</option>
                  <option type="text" value="Business">Business</option>
                  <option type="text" value="Management">Management</option>
                  <option type="text" value="Literature">Literature</option>
                  <option type="text" value="Psychology">Psychology</option>
                </select>
            </div>
            <div class="form-group" id="degree-user">
                <label>level</label>
                <select class="form-control" name="level" >
                  <option type="text" value="Beginner">Beginner</option>
                  <option type="text" value="Advanced">Advanced</option>
                  <option type="text" value="Senior">Senior</option>
                  <option type="text" value="Master">Master</option>
                </select>
            </div>
            <div class="form-group" id="semester-user">
                <label>Semester</label>
                <input type="number" class="form-control" name="semester" placeholder="Enter semester" min="1" max="12">
            </div>
            <div class="form-group" id="semester-user">
                <label>Max Member</label>
                <input type="number" class="form-control" name="max_member" placeholder="Enter max member" min="1">
            </div>
            <div class="form-group">
                <label for="deadline">Deadline</label>
                <input type="date" class="form-control" name="deadline" placeholder="Enter deadline date">
            </div>
            <div class="form-group" id="degree-user">
                <label>Tag</label>
                <select class="form-control" name="tag" >
                  <option type="text" value=null>Select an option</option>
                  <%
                    tags.forEach(function(tag){%>
                      <option type="text" name= "tag" value=<%= tag.name%>><%= tag.name%></option>
                      <%})
                  %>
                </select>
            </div>
            <div class="form-group">
                <label for="title">Summary</label>
                <textarea type="text-area" class="form-control" style="overflow:auto;resize:none" rows="5" name="summary" id="text-area" placeholder="Enter description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <script>
                $(document).ready(function (){
                    $("#role-user").change(function() {
                        if ($(this).val() == "Student") {
                            $("#semester-user").show();
                            $("#degree-user").hide();
                        }else{
                            $("#semester-user").hide();
                            $("#degree-user").show();
                        }
                    });
                });
            </script>
    </div>
<%- include ../partials/footer.ejs %>
